<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Manejo de Formularios en Vue</title>
</head>
<body>
	<div id="componente_principal">
		<input type="text" v-model="mi_nombre">
		<p>Mi nombre en mayúsculas: {{ mi_nombre | mayus }}</p>
		<p>En minúsculas: {{ mi_nombre | minus }}</p>
		<hr>
		<h3>Selecciona los exámenes</h3>
		<form v-on:submit.prevent="enviar_datos">
			<template v-for="examen in examenes">
				<examen v-bind:examen="examen" v-on:checkear="seleccionarExamen"></examen>
			</template>
			<button type="submit">Enviar Datos</button>
		</form>
	</div>

	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		Vue.component("examen",{
			props:['examen'],
			methods:{
				oncheck: function (evento) {
					this.$emit('checkear', this.examen.clave, evento.target.checked)
				}
			},
			template:`
			<div>
				<input v-bind:value="examen.clave" type="checkbox" v-bind:id="examen.clave" v-on:change="oncheck">
				<label v-bind:for="examen.clave">{{ examen.nombre }}</label>
			</div>
			`
		})

		let formularios = new Vue({
			el: "#componente_principal",
			data: {
				mi_nombre: "",
				examenes: [
					{
						clave: "hematologia",
						nombre: "Hematología Completa"
					},
					{
						clave: "glicemia",
						nombre: "Glicemia Basal"
					},
					{
						clave: "urea",
						nombre: "Urea"
					},
					{
						clave: "creatinina",
						nombre: "Creatinina"
					},
					{
						clave: "colesterol",
						nombre: "Colesterol"
					},
					{
						clave: "trigliceridos",
						nombre: "Trigliceridos"
					}
				],
				seleccionados: [],
			},
			filters: {
				mayus: function (str) {
					return str.toUpperCase()
				},
				minus: function (str) {
					return str.toLowerCase()
				}
			},
			methods:{
				enviar_datos: function () {
					console.log("Se ejecuta este methodo");
					console.log(this.seleccionados);
				},

				seleccionarExamen: function (examen_clave, checkear) {
					if(checkear){
						this.seleccionados.push(examen_clave)
					}else{
						let indice = this.seleccionados.indexOf(examen_clave)
						this.seleccionados.splice(indice, 1)
					}
				}
			}
		});
	</script>
</body>
</html>